body, html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Merriweather', serif;
}

.homeContent {
  min-height: 100%;
  max-width: 100%;
  background: url('Josh-bw-ubahn-ls.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.meBundestag {
  min-height: 100%;
  max-width: 100%;
  background-image: url('Josh-colour-bundestag.jpeg');
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.meBrandenburgGate {
  min-height: 100%;
  max-width: 100%;
  background-image: url('Josh-colour-bgate.jpeg');
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.homeContent .heading {
  position: absolute;
  bottom: 20px;
  margin-left: 50px;
  /* width: 100%; */
  display: block;
}

.homeContent .heading h1 {
  font-family: 'Lora', serif;
  font-size: 72pt;
  text-shadow: 2px 2px rgba(0,0,0,.8);
  color: #ffffff;
  display: block;
  margin-bottom: 0;
}

.homeContent .heading h2 {
  font-family: 'Lora', serif;
  font-size: 32pt;
  color: #ffffff;
  display: inline-block;
  margin-top: 0;
}

.navbar {
  position: fixed;
  margin-top: 0px;
  margin-bottom: 20px;

  width: 100%;
  z-index: 9999;
  font-size: 20pt;
  text-align: center;
  font-family: 'Lora', serif;
  background: rgb(150, 150, 150, 0.95);
}

.navbar ul {
  list-style: none;
  padding-left: 0;
}

.navbar li {
  display: inline-block;
  width: 200px;
  opacity: 1;
  cursor: pointer;
  padding-top: 7px;
  padding-bottom: 7px;
}



* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 530px) {
  .column {
    width: 100%;
  }
}


#aboutMe, #mySkills, #contactMe, #myProjects {
  padding-top: 70px;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 70px;
  position: relative;
}

#mySkills {
  background-color: #f7f7f7;
}

#aboutMe h1, #mySkills h1, #contactMe h1, #myProjects h1 {
  font-family: 'Lora', serif;
  font-size: 36pt;
  text-align: center;
  display: block;
  margin-bottom: 0;
  color: rgba(0,0,0,.8);
}

#aboutMe p, #mySkills p, #contactMe p, #myProjects p {
  font-size: 14pt;
  line-height: 1.9;
}

#contactMe {
  text-align: center;
}

#contactMe {
  padding-left: 0px;
  padding-right: 0px;
}

#contactMe img {
  margin-right: 25px;
  margin-left: 25px;
  margin-top: 40px;
  width: 70px;
}

#footer {
  background: #000000;
  padding: 20px;
  color: #ffffff;
}

#footer a {
  color: #ffffff;
}

@media only screen and (max-width: 1680px) {
  .homeContent {
    background: url('Josh-bw-ubahn-ls.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .meBundestag {
    background: url('Josh-colour-bundestag.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media only screen and (max-width: 630px) {
  .navbar li {
    width: 170px;
  }
}

@media only screen and (max-width: 530px) {
  .navbar {
    font-size: 14pt;
  }

  .navbar li {
    width: 100px;
  }

  .homeContent .heading h1 {
    font-size: 36pt;
  }

  .homeContent .heading h2 {
    font-size: 18pt;
  }

  #aboutMe h1, #mySkills h1, #contactMe h1 {
    font-size: 26pt;
  }

  #aboutMe, #mySkills, #contactMe {
    padding-left: 5%;
    padding-right: 5%;
  }

  #aboutMe p, #mySkills p, #contactMe p {
    font-size: 12pt;
  }
}

.mytooltip {
    display: inline;
    position: absolute;
    z-index: 1
}

@media only screen and (max-width: 992px)
.mytooltip{
    display: none;
}

.mytooltip .tooltip-item {
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: inline-block;
}

@media only screen and (max-width: 992px)
.mytooltip .tooltip-item{
    display: none;
}

.mytooltip .tooltip-content {
    position: absolute;
    z-index: 1;
    left: -150%;
    bottom: 160%;
    background: #696969;
    opacity: 0;
    pointer-events: none
}

.mytooltip .tooltip-content img {
    position: relative;
    height: auto;
    max-width: 150%;
    box-shadow: 5px 5px 5px #696969;
    display: inline-block;
}

.mytooltip:hover .tooltip-item::after {
    pointer-events: auto
}

.mytooltip:hover .tooltip-content {
    pointer-events: auto;
    opacity: 1;
}